
.verifyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
  width: 100%;
}

.verifyCard {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 50px;
}

.verifyCard h1 {
    text-align: center;

}

.verifyCard p {
    text-align: center;
    margin: 20px 0;
}
