.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.loginInput {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.loginInput:focus {
    outline: none;
}


.orContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.orLine {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.orText {
    padding: 0 10px;
    font-size: 1rem;
    color: #666;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin: 10px;
}
